@import "../../variables.scss";

.header {
  background-color: $primary;
  height: 6rem;

  .container {
    // width: 1200px;
    padding: 0 6rem;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;

    .logo {
      text-transform: uppercase;
      font-size: 2.8rem;
      color: $primary-1;
      font-weight: 900;
      flex: 1;
    }

    .menu {
      display: flex;
      gap: 2.6rem;

      .link {
        text-decoration: none;
        font-size: 1.6rem;
        color: $text-color;
      }
    }

    .profile {
      height: 3.6rem;
      width: 3.6rem;
      border-radius: 50%;
      margin-left: 4rem;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}
