@import "../../variables.scss";

.trending {
  background-color: $black;
  padding: 0 6rem;

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;

    .title {
      color: $white;
      font-size: 2.4rem;
      font-weight: 500;
    }
  }

  &-list {
    background-color: $white;
    .swiper {
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      // height: calc((100% - 30px) / 2) !important;

      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
